In [19]:
# Importing pandas library to handle dataframes
import pandas as pd

# Creating the Employee DataFrame
# Defining employee data as a dictionary
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Unique employee IDs
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],  # Names of employee
    'Gender': ['M', 'F', 'M', 'F', 'F'],  # Gender of each employee
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],  # City/location of each employee
    'Age': [25, 27, 29, 31, 30]  # Age (years of employee)
}

# Creating a pandas DataFrame from the employee data
employee_df = pd.DataFrame(employee_data)

# Saving the employee DataFrame as a CSV file
employee_df.to_csv('employee_data.csv', index=False)  # index=False prevents saving row numbers in the file

# Creating the Seniority Level DataFrame
# Defining designation level data for each employee
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Matching IDs
    'Designation Level': [2, 2, 3, 2, 3]  # Designation level of each employee 
}

# Creating a pandas DataFrame for seniority levels
seniority_df = pd.DataFrame(seniority_data)

# Saving the seniority DataFrame as a CSV file
seniority_df.to_csv('seniority_data.csv', index=False)

# Creating the Project DataFrame
# Defining project data: multiple entries for each project head
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'], # IDs
    'Project': [ 'Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5','Project 6', 'Project 7', 'Project 8', 
                'Project 9', 'Project 10','Project 11', 'Project 12', 'Project 13', 'Project 14'], # Names of the projects
    'Project Cost': [ 1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, 
                     None, 300000, 2000000, 1000000, 3000000, 200000],  # Cost of each project (some are missing)
    'Status': [ 'Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished','Failed', 'Finished', 'Failed', 'Ongoing', 'Finished',
        'Failed', 'Ongoing', 'Finished', 'Finished']  # Project outcome: Finished, Ongoing, or Failed
}

# Creating the Project DataFrame from the data
project_df = pd.DataFrame(project_data)

# Saving the project DataFrame as a CSV file
project_df.to_csv('project_data.csv', index=False)

In [20]:
# Reading the project data from CSV file
project_df = pd.read_csv('project_data.csv')

# Creating an empty list to store running costs for averaging
running_costs = []

# Iterating through each row using a for loop with index
for i in range(len(project_df)):
    # Check if 'Project Cost' is a missing value (NaN)
    if pd.isna(project_df.loc[i, 'Project Cost']):
        # Calculate average of the running_costs list
        if running_costs:  # Avoid division by zero
            avg_cost = sum(running_costs) / len(running_costs)
        else:
            avg_cost = 0  # If no previous value exists, use 0 as a fallback
        # Replace the missing value with the running average
        project_df.loc[i, 'Project Cost'] = avg_cost
    # Append the current (now non-null) cost to the running_costs list
    running_costs.append(project_df.loc[i, 'Project Cost'])

# Optional: Save the updated DataFrame to a new CSV file
project_df.to_csv('project_data_filled.csv', index=False)

# Display the updated DataFrame (optional for testing)
print(project_df)

      ID     Project  Project Cost    Status
0   A001   Project 1     1002000.0  Finished
1   A002   Project 2     2000000.0   Ongoing
2   A003   Project 3     4500000.0  Finished
3   A004   Project 4     5500000.0   Ongoing
4   A005   Project 5     3250500.0  Finished
5   A002   Project 6      680000.0    Failed
6   A005   Project 7      400000.0  Finished
7   A003   Project 8      350000.0    Failed
8   A001   Project 9     2210312.5   Ongoing
9   A003  Project 10      300000.0  Finished
10  A001  Project 11     2000000.0    Failed
11  A004  Project 12     1000000.0   Ongoing
12  A004  Project 13     3000000.0  Finished
13  A005  Project 14      200000.0  Finished

In [23]:
# Load the employee data from the CSV file
employee_df = pd.read_csv('employee_data.csv')

# Split the 'Name' column into 'First Name' and 'Last Name' using split with n=1 and expand=True
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(n=1, expand=True)

# Drop the original 'Name' column as it's no longer needed
employee_df.drop('Name', axis=1, inplace=True)

# Save the modified DataFrame to a new CSV file
employee_df.to_csv('employee_data_updated.csv', index=False)

# Print the final DataFrame to confirm the changes
print(employee_df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [24]:
# Load the updated employee data (with First and Last Name)
employee_df = pd.read_csv('employee_data_updated.csv')

# Load the seniority level data
seniority_df = pd.read_csv('seniority_data.csv')

# Load the project data with filled missing costs
project_df = pd.read_csv('project_data_filled.csv')

# Merge employee and seniority data on 'ID'
emp_seniority_df = pd.merge(employee_df, seniority_df, on='ID')

# Merge the above result with project data on 'ID'
final_df = pd.merge(emp_seniority_df, project_df, on='ID')

# Save the final merged DataFrame to a CSV
final_df.to_csv('final.csv', index=False)

# Print the final DataFrame for verification
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project  Project Cost    Status
0    Project 1     1002000.0  Finished
1    Project 9     2210312.5   Ongoing
2   Project 11     2000000.0    Failed
3    Project 2     2000000.0   Ongoing
4    Project 6      680000.0    Failed
5    Project 3     4500000.0  Finished
6    Project 8      350000.0    Failed
7   Project 10      300000.0  Finished
8    Project 4     5500000.0   Ongoing
9   Project 12     1000000.0   Ongoing
10  Project 13     3000000.0  Finished
11   Project 5     3250500.0  Finished
12   Project 7      400000.0  Finished
13  Project 14      200000.0  Finished

In [26]:
# Load the merged final data from the CSV file
final_df = pd.read_csv('final.csv')

# Create a new 'Bonus' column using a conditional operation
# If project status is 'Finished', calculate 5% of Project Cost, else set to 0
final_df['Bonus'] = final_df.apply(
    lambda row: row['Project Cost'] * 0.05 if row['Status'] == 'Finished' else 0,
    axis=1  # Apply the function row-wise
)

# Save the updated DataFrame back to CSV
final_df.to_csv('final_with_bonus.csv', index=False)

# Print the updated DataFrame to verify the Bonus column
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project  Project Cost    Status     Bonus
0    Project 1     1002000.0  Finished   50100.0
1    Project 9     2210312.5   Ongoing       0.0
2   Project 11     2000000.0    Failed       0.0
3    Project 2     2000000.0   Ongoing       0.0
4    Project 6      680000.0    Failed       0.0
5    Project 3     4500000.0  Finished  225000.0
6    Project 8      350000.0    Failed       0.0
7   Project 10      300000.0  Finished   15000.0
8    Project 4     5500000.0   Ongoing       0.0
9   Project 12     1000000.0   Ongoing       0.0
10  Project 13     3000000.0  Finished  150000.0
11   Project 5     3250500.0  Finished  162525.0
12   Project 7      400000.0  Finished   20000.0
13  Project 14      200000.0  Finished   10000.0

In [27]:
# Load the Final DataFrame with bonus included
final_df = pd.read_csv('final_with_bonus.csv')

# Step 1: Demote Designation Level by 1 for employees whose project status is 'Failed'
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] += 1

# Step 2: Remove records where the Designation Level is now greater than 4 (ineligible)
final_df = final_df[final_df['Designation Level'] <= 4]

# Optional: Save the updated DataFrame to a new CSV
final_df.to_csv('final_demoted.csv', index=False)

# Print the cleaned DataFrame
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  3
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  3
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  4
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project  Project Cost    Status     Bonus
0    Project 1     1002000.0  Finished   50100.0
1    Project 9     2210312.5   Ongoing       0.0
2   Project 11     2000000.0    Failed       0.0
3    Project 2     2000000.0   Ongoing       0.0
4    Project 6      680000.0    Failed       0.0
5    Project 3     4500000.0  Finished  225000.0
6    Project 8      350000.0    Failed       0.0
7   Project 10      300000.0  Finished   15000.0
8    Project 4     5500000.0   Ongoing       0.0
9   Project 12     1000000.0   Ongoing       0.0
10  Project 13     3000000.0  Finished  150000.0
11   Project 5     3250500.0  Finished  162525.0
12   Project 7      400000.0  Finished   20000.0
13  Project 14      200000.0  Finished   10000.0

In [28]:
# Load the most recent DataFrame after demotion filtering
final_df = pd.read_csv('final_demoted.csv')

# Step 1: Add title to the 'First Name' based on 'Gender'
# Use 'apply' with a lambda to check gender and add appropriate prefix
final_df['First Name'] = final_df.apply(
    lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'],
    axis=1
)

# Step 2: Drop the 'Gender' column
final_df.drop('Gender', axis=1, inplace=True)

# Save the updated DataFrame to a new CSV
final_df.to_csv('final_with_titles.csv', index=False)

# Display the updated DataFrame
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  3  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  4   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  3  Project 14

    Project Cost    Status     Bonus
0      1002000.0  Finished   50100.0
1      2210312.5   Ongoing       0.0
2      2000000.0    Failed       0.0
3      2000000.0   Ongoing       0.0
4       680000.0    Failed       0.0
5      4500000.0  Finished  225000.0
6       350000.0    Failed       0.0
7       300000.0  Finished   15000.0
8      5500000.0   Ongoing       0.0
9      1000000.0   Ongoing       0.0
10     3000000.0  Finished  150000.0
11     3250500.0  Finished  162525.0
12      400000.0  Finished   20000.0
13      200000.0  Finished   10000.0

In [30]:
# Load the DataFrame from the previous task
final_df = pd.read_csv('final_with_titles.csv')

# Use IF condition to promote employees whose age > 29 by decreasing designation level by 1
# Make sure not to promote beyond level 1 (highest)
final_df['Designation Level'] = final_df.apply(
    lambda row: row['Designation Level'] - 1 if row['Age'] > 29 and row['Designation Level'] > 1 else row['Designation Level'],
    axis=1
)

# Save the updated DataFrame to a new CSV file
final_df.to_csv('final_promoted.csv', index=False)

# Print the updated DataFrame for verification
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  3  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  4   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  2   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  2   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  2  Project 14

    Project Cost    Status     Bonus
0      1002000.0  Finished   50100.0
1      2210312.5   Ongoing       0.0
2      2000000.0    Failed       0.0
3      2000000.0   Ongoing       0.0
4       680000.0    Failed       0.0
5      4500000.0  Finished  225000.0
6       350000.0    Failed       0.0
7       300000.0  Finished   15000.0
8      5500000.0   Ongoing       0.0
9      1000000.0   Ongoing       0.0
10     3000000.0  Finished  150000.0
11     3250500.0  Finished  162525.0
12      400000.0  Finished   20000.0
13      200000.0  Finished   10000.0

In [31]:
# Load the most recent DataFrame
final_df = pd.read_csv('final_promoted.csv')

# Step 1: Group the data by 'ID' and 'First Name' to sum the 'Project Cost'
# This aggregates total project cost for each employee
total_proj_cost_df = final_df.groupby(['ID', 'First Name'])['Project Cost'].sum().reset_index()

# Step 2: Rename the 'Project Cost' column to 'Total Cost'
total_proj_cost_df.rename(columns={'Project Cost': 'Total Cost'}, inplace=True)

# Step 3: Save the new DataFrame to a CSV file
total_proj_cost_df.to_csv('TotalProjCost.csv', index=False)

# Step 4: Print the new TotalProjCost DataFrame
print(total_proj_cost_df)

     ID  First Name  Total Cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

In [32]:
# Load the most recent version of the DataFrame
final_df = pd.read_csv('final_promoted.csv')

# Step 1: Use string matching to filter cities containing the letter 'o' (case-insensitive)
employees_with_o_in_city = final_df[final_df['City'].str.contains('o', case=False)]

# Step 2: Print the filtered employee details
print(employees_with_o_in_city)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13

    Project Cost    Status     Bonus
3      2000000.0   Ongoing       0.0
4       680000.0    Failed       0.0
8      5500000.0   Ongoing       0.0
9      1000000.0   Ongoing       0.0
10     3000000.0  Finished  150000.0